:root {
  --font-color: #000;
  --borders-color: #000;
}

html {
  margin: 0;
}

body {
  width: 900px;
  margin: auto;
  font-family: Verdana, Arial, sans-serif;
}

header {
  display: flex;
  text-align: center;
  align-items: center;
  border-bottom: 2px solid var(--borders-color);
}

img {
  margin: 10px;
}

h2 {
  margin: 0.5em 0;
}

address {
  font-style: normal;
}

p {
  margin: 0.5em 0;
}

ul {
  list-style-type: none;
  margin: 0 0 0.5em 0;
  padding-left: 1em;
}

li:before {
  display: inline-block;
  content: '-';
  width: 1em;
  margin-left: -1em;
}

a {
  color: var(--font-color);
}

.text-justify {
  text-align: justify;
}

.no-margin {
  margin: 0;
}

.grow {
  flex-grow: 1;
}

@media print {
  @page {
    size: A4;
  }
}
